@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://www.comunidadbaratz.com/wp-content/uploads/Todas-las-bibliotecas-son-bellas-por-el-servicio-que-ofrecen-a-sus-comunidades.jpg"/> 
   
</div>
